/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:before,
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

/* end reset */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}



body {
	font-style: normal;
	font-weight: 400;
	font-size: 12pt;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	color: #777572;
}

h1 {
	font-size: 24pt;
	font-weight: 500;
	line-height: 2;
}

h2 {
	font-size: 24pt;
	font-weight: 300;
	line-height: 2;
	text-transform: uppercase;
}

p {
	line-height: 1.8;
}

strong {
	font-weight: 800;
	color: #444;
}

a {
	text-decoration: none;
	color: #5badf0;
}

.lnum {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}

$project-width: 640px;

#sidebar {
/* 	display: none; */

	position: fixed;
	max-width: 320px;
	margin: 10px;
	padding: 10px;
	background-color: rgba(255,255,255,0.9);
	@include border-radius(2px);
	
	#wordmark {
		margin-bottom: 24pt;
		
		line, polyline {
			stroke: red;
		}
	}
}

#wrapper {
	margin: 0 auto;
	padding-left: 320px;
	width: $project-width * 6;
	height: 100%;
}

.zoomedout {
	-webkit-transform-origin: top left;
	@include transform(scale(.2));
}

.project {
	position: relative;
	float: left;
	width: $project-width;
	margin: 20px;
	padding: 20px;
	box-sizing: border-box;
	@include border-radius(4px);
	
	background-color: #eee;
}