{% extends "base.html" %}
{% block content %}

<div id="projectcontainer">

	<section id="rgb" class="project">
		<figure id="iphone5s" class="silver">
			<div class="device">
				<div class="inner"></div>
				<div class="sleep"></div>
				<div class="volume"></div>
				<div class="camera"></div>
				<div class="top-bar"></div>
				<div class="sensor"></div>
				<div class="speaker"></div>
				<img class="screen" src="../static/images/screenshots/rgb-gallery.png" width="320" height="568" />
				<div class="bottom-bar"></div>
				<div class="home"></div>
			</div>
		</figure>
		
		<h2>Project RGB</h2>
		<summary>
			<p>The next generation of 500px.</p>
			<p>Initially conceived as a way to view user-generated collections, RGB blossomed into a powerhouse of UI mastery.</p>
		</summary>
	</section>

	<section id="fivehundredpx" class="project">
		<figure id="iphone5s" class="black">
			<div class="device">
				<div class="inner"></div>
				<div class="sleep"></div>
				<div class="volume"></div>
				<div class="camera"></div>
				<div class="top-bar"></div>
				<div class="sensor"></div>
				<div class="speaker"></div>
				<img class="screen" src="../static/images/screenshots/500px-iphone-gallery.png" width="320" height="568" />
				<div class="bottom-bar"></div>
				<div class="home"></div>
			</div>
		</figure>
		
		<h2>500px for iOS</h2>
		<summary>
			<p>The official 500px app for iOS.</p>
		<summary>
	</section>

	<section id="fivehundredpx-android" class="project">
		<figure id="nexus5">
			<div class="device">
				<div class="button"></div>
				<div class="lock"></div>
				<div class="camera"></div>
				<div class="inner"></div>
				<img class="screen" src="../static/images/screenshots/Android-Phone-Flow-View.png"/>
			</div>
		</figure>
		
		<h2>500px for Android</h2>
		<summary>
			<p>The official 500px app for Android.</p>
		<summary>
	</section>
	
	<section id="pano" class="project">
		<figure id="iphone4s" class="silver">
			<div class="device">
				<div class="inner"></div>
				<div class="sleep"></div>
				<div class="volume"></div>
				<div class="camera"></div>
				<div class="top-bar"></div>
				<div class="sensor"></div>
				<div class="speaker"></div>
				<img class="screen" src="../static/images/screenshots/Pano-Retina-Title-Screen.png" width="320" height="480" />
				<div class="bottom-bar"></div>
				<div class="home"></div>
			</div>
		</figure>
	
		<h2>Pano for iOS</h2>
		<summary>
			<p>One of the first panoramic photography apps for iOS.</p>
		<summary>
	</section>

	<section id="pano-wp7" class="project">
		<figure id="lumia920" class="blue">
			<div class="device">
				<div class="camera"></div>
				<div class="button"></div>
				<div class="lock"></div>
				<div class="speaker"></div>
				<div class="inner"></div>
				<img class="screen" src="../static/images/screenshots/pano-wp7.png" alt="pano-wp7" width="320" height="568" />
			</div>
		</figure>
	
		<h2>Pano for WP7</h2>
		<summary>
			<p>One of the first panoramic photography apps for Windows Phone 7.</p>
		<summary>
	</section>

	<section id="ipad" class="project">
		<figure id="ipad" class="silver">
			<div class="device">
				<div class="inner"></div>
				<div class="camera"></div>
				<img class="screen" src="../static/images/screenshots/500px-ipad.jpg"/>
				<div class="home"></div>
			</div>
		</figure>
	
		<h2>500px for iPad</h2>
		<summary>
			<p>The official tablet iOS version of 500px.</p>
		<summary>
	</section>

	<footer>
		<p>Many thanks to <a href="http://twitter.com/olegtsaplin">Oleg Tsaplin</a> for his amazing <a href="http://marvelapp.github.io/devices.css/">CSS device graphics</a>.</p>
	</footer>
</div>

{% endblock content%}
