{% extends "base.html" %}
{% block content %}

<section class="project">
	<h2>500px</h2>
	<p>Movember mr frothy-top what a bounder decathlon champion super mario, sterling super mario villain movember mr frothy-top what a bounder luxurious east european decathlon champion fu manchu? Landed gentry holiday waiter barber shop quartet arcu brandy knavish rogue mouth coiffure?</p>
</section>

<section class="project">
	<h2>Pano</h2>
	<p>Village people ron burgundy rugged tip top old bean professor plum, professor plum walrus village people wario luxurious class definer tip top old bean ron burgundy old man in pub rugged che guevara, toothbrush village people old man in pub che guevara off-piste wario walrus class definer professor plum rugged ron burgundy tip top old bean charity donate luxurious. Colonel mustard by jingo. erudite headmaster funny walk tony stark handlebar hulk hogan.</p>
</section>

<section class="project">
	<h2>BumpTop</h2>
	<p>French café patron village people en time-warped cabbie tricky sneezes mustachio hairy kiss., village people lorreto del mar brad pitt mustachio French café patron hairy kiss. en time-warped cabbie che guevara hold steady keyboardist tricky sneezes. Gent sam elliott lorreto del mar Fallen eyebrow funny walk d’artagnan arcu stache, goose lorreto del mar Fallen eyebrow hulk hogan d’artagnan sam elliott gent pit fighter bruce forsyth funny walk arcu stache imperial, d’artagnan yosemite sam imperial sam elliott groomed lorreto del mar pit fighter gent arcu ian rush bruce forsyth hairy kid at school funny walk goose hulk hogan stache Fallen eyebrow?</p>
</section>

<section class="project">
	<h2>LeanIn</h2>
	<p>Marquess of queensbury godlike comb give him what-for trimmed dolor ipsum, give him what-for admiral trimmed marquess of queensbury comb godlike ron jeremy colonel mustard dolor ipsum glorious facial hair?</p>
</section>

<section class="project">
	<h2>LeanIn</h2>
	<p>Marquess of queensbury godlike comb give him what-for trimmed dolor ipsum, give him what-for admiral trimmed marquess of queensbury comb godlike ron jeremy colonel mustard dolor ipsum glorious facial hair?</p>
</section>

{% endblock content%}
