{% extends "base.html" %}
{% block content %}

<section id="fivehundredpx" class="project">
	<figure id="iphone5s" class="silver">
		<div class="device">
			<div class="inner"></div>
			<div class="sleep"></div>
			<div class="volume"></div>
			<div class="camera"></div>
			<div class="top-bar"></div>
			<div class="sensor"></div>
			<div class="speaker"></div>
			<img class="screen" src="../static/images/Loading-Screen.png" alt="Loading-Screen" width="320" height="568" />
			<div class="bottom-bar"></div>
			<div class="home"></div>
		</div>
	</figure>
	
	<h2>500px</h2>
</section>

<section id="pano" class="project">
	<figure id="iphone4s" class="silver">
		<div class="device">
			<div class="inner"></div>
			<div class="sleep"></div>
			<div class="volume"></div>
			<div class="camera"></div>
			<div class="top-bar"></div>
			<div class="sensor"></div>
			<div class="speaker"></div>
			<img class="screen" src="" alt="Loading-Screen" width="320" height="480" />
			<div class="bottom-bar"></div>
			<div class="home"></div>
		</div>
	</figure>

	<h2>Pano</h2>
</section>

{% endblock content%}
